In [134]:
import pandas as pd
from utils import generate_random_eq, is_eq_valid
from lis import eval_lisp, parse

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [135]:
symbols = ["*", "+", "-"]
# generate_random_eq(symbols, 3)

In [136]:
eqs = list(set([generate_random_eq(symbols, 3) for i in range(0, 20000)]))
len(eqs)

9117

In [137]:
ts = [1,2,3,5,10]


eqs = [eq for eq in eqs if is_eq_valid(eq, ts) == True]
len(eqs)

8660

In [138]:
# because we need to wrap int casting into a try-catch block, we can't use array comprehensionran
X = []
for fun in eqs:
    int_seq = []
    for i in range(1, 10):
        try:
            int_seq.append(int(eval_lisp(parse(fun.replace('t', str(i))))))
        except:
            pass
    X.append(int_seq)
len(X)

8660

In [139]:
data = pd.DataFrame(X)
data['eqs'] = eqs
data.dropna(inplace = True)
data[0] = data[0].astype(int)
data[1] = data[1].astype(int)
data[2] = data[2].astype(int)
data[3] = data[3].astype(int)
data[4] = data[4].astype(int)
data[5] = data[5].astype(int)
data[6] = data[6].astype(int)
data[7] = data[7].astype(int)
data[8] = data[8].astype(int)

data.shape[0]

8660

In [140]:
data

       0   1   2   3   4   5   6    7    8                        eqs
0     -1  -6 -11 -16 -21 -26 -31  -36  -41  ( - 8 ( + 4 ( * 5 t ) ) )
1     -4  -8 -12 -16 -20 -24 -28  -32  -36  ( - 2 ( + 2 ( * 4 t ) ) )
2     48  32  16   0 -16 -32 -48  -64  -80  ( * 8 ( * 2 ( - 4 t ) ) )
3     50  43  36  29  22  15   8    1   -6  ( + 1 ( * 7 ( - 8 t ) ) )
4      6  10  12  12  10   6   0   -8  -18  ( * 1 ( * t ( - 7 t ) ) )
...   ..  ..  ..  ..  ..  ..  ..  ...  ...                        ...
8655   3  -3 -13 -27 -45 -67 -93 -123 -157  ( - 5 ( * t ( + t t ) ) )
8656  -9 -18 -27 -36 -45 -54 -63  -72  -81  ( * 9 ( - t ( + t t ) ) )
8657  25  20  15  10   5   0  -5  -10  -15  ( * 5 ( - 6 ( * 1 t ) ) )
8658   6  12  18  24  30  36  42   48   54  ( + t ( * 5 ( * 1 t ) ) )
8659   3  -5 -15 -27 -41 -57 -75  -95 -117  ( - 9 ( * t ( + 5 t ) ) )

[8660 rows x 10 columns]

In [142]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(data, test_size=0.6)

In [143]:
train.to_csv('./data/train.csv')

In [ ]:
test.to_csv('./data/test.csv')